@using OnlineStore.Models

@{
    ViewBag.Title = "AddBrand";
    Layout = "~/Views/Shared/_Admin_Header.cshtml";
    Session["Page"] = "AddBrand";
}


@if(ViewBag.info != null)
{
    <script>alert('Brand Already Exists!');</script>
}


<div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="/Admin/Dashboard">Home</a>
            </li>
            <li>
                <a href="/Admin/AddBrand">Add Brand</a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-edit"></i> Add Brand</h2>

                </div>
                <div class="box-content">
                    <form action="/Admin/AddBrandItem" method="post" enctype="multipart/form-data">

                        <hr />
                        <label>Current Brands</label>
                        <select name="brand" class="ui-tabs-selected" style="margin-left:8%;">

                            @foreach (var s in ViewBag.brandsList)
                            {

                                <option value=@s.bName>@s.bName</option>

                            }
                        </select>


                        <hr />
                        <div class="form-group">
                            <label>Brand Name</label>
                            <input type="text" class="form-control" name="bname" placeholder="Brand Name">
                        </div>

 

                       
                        <br /><br />
                        <hr />

                      
                        <button type="submit" class="btn btn-primary">Add Brand</button>
                    </form>
                </div>
            </div>
        </div>
        <!--/span-->
    </div><!--/row-->
    <!-- content ends -->
</div><!--/#content.col-md-0-->