@using OnlineStore.Models

@{
    ViewBag.Title = "Remove";
    Layout = "~/Views/Shared/_Admin_Header.cshtml";
    Session["Page"] = "Remove";
}


@if (ViewBag.info != null)
{
    String m = "bDel";
    String n= "cDel";
    String o = "sDel";

    if (ViewBag.info.Equals(m))
    {
        <script>alert('Brand Deleted Successfully!');</script>
    }
    else if (ViewBag.info.Equals(n))
    {
        <script>alert('Category Deleted Successfully!');</script>
    }
    else if (ViewBag.info.Equals(o))
    {
        <script>alert('Sub-Category Deleted Successfully!');</script>
    }
 
}


    <!-- The styles -->
    <link id="bs-css" href="~/Content/css/bootstrap-cerulean.min.css" rel="stylesheet">

    <link href="~/Content/css/charisma-app.css" rel="stylesheet">
    <link href='~/Content/bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='~/Content/bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='~/Content/bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='~/Content/bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='~/Content/bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='~/Content/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='~/Content/css/jquery.noty.css' rel='stylesheet'>
    <link href='~/Content/css/noty_theme_default.css' rel='stylesheet'>
    <link href='~/Content/css/elfinder.min.css' rel='stylesheet'>
    <link href='~/Content/css/elfinder.theme.css' rel='stylesheet'>
    <link href='~/Content/css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='~/Content/css/uploadify.css' rel='stylesheet'>
    <link href='~/Content/css/animate.min.css' rel='stylesheet'>

    <!-- jQuery -->

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Content/bower_components/jquery/jquery.min.js"></script>
    <link href="~/Content/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Th

<div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="/Admin/Dashboard">Home</a>
            </li>
            <li>
                <a href="/Admin/Remove">Add Brand</a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-edit"></i> Delete Brands/Categories/Sub-Categories</h2>

                </div>
                <div class="box-content">
                    <form action="/Admin/DeleteSelected" method="post" >

                        <hr />
                        <label>Select Brand to Delete</label>
                        <select name="brand" class="ui-tabs-selected" style="margin-left:8%;">

                            @foreach (var s in ViewBag.brandsList)
                            {

                                <option value=@s.bName>@s.bName</option>

                            }
                        </select>


                        <hr />
                        <div class="form-group">
                            <button type="submit" name="b" value="bclicked" class="btn btn-primary">Delete Brand</button>
                        </div>







                        <hr />
                        <label>Select Category to Delete</label>
                        <select name="category" class="ui-tabs-selected" style="margin-left:8%;">

                            @foreach (var s in ViewBag.categoryList)
                            {

                                <option value=@s.c_name>@s.c_name</option>

                            }
                        </select>


                        <hr />
                        <div class="form-group"> 
                            <button type="submit" name="c" value="cclicked" class="btn btn-primary">Delete Category</button>
                        </div>




                        <hr />
                       



                        <label>Category</label>
                        <select name="gcategory" class="ui-tabs-selected" style="margin-left:8%;">

                            @foreach (var s in ViewBag.categoryList)
                            {

                                <option value=@s.c_name>@s.c_name</option>

                            }
                        </select>



                        <label>Select Sub-Category  to Delete</label>

                        <select name="sCategory" class="ui-tabs-selected" style="margin-left:8%;">
                            @foreach (var s in ViewBag.subcategoryList)
                            {

                                <option value=@s.subName>@s.subName</option>

                            }
                        </select>


                        <hr />
                        <div class="form-group">
                            <button type="submit" name="sc" value="scclicked" class="btn btn-primary">Delete Sub-Category</button>
                        </div>







                        <br /><br />
                        <hr />


                        
                    </form>
                </div>
            </div>
        </div>
        <!--/span-->
    </div><!--/row-->
    <!-- content ends -->
</div><!--/#content.col-md-0-->